body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: rgba(49, 79, 189, 0.259);
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
}

p {
    margin-top: 0;
    color: #333333;
}

label {
    font-weight: 600;
    display: block;
    margin: 15px 0 5px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    box-sizing: border-box;
}

textarea {
    min-height: 120px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 8px;
    background: #0078ff;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 20px;
    text-decoration: none;
}

.btn:hover {
    background: #005fcc;
}

.btn-secondary {
    background: #555;
}

.btn-secondary:hover {
    background: #333;
}

.volver {
    display: inline-block;
    margin-bottom: 10px;
    color: #0078ff;
    font-weight: 600;
    text-decoration: none;
}

.volver:hover {
    text-decoration: underline;
}
